<div class="nested-fields" id="nested">

  <% thing_options = Thing.order(:id).map { |c| [c.name, c.id, data: { unit: c.unit, spoon:c.spoon }] } %>
  <span><%= f.select(:thing_id, thing_options, { prompt: "---"}, {class:"select", data:{select:0}, id:"thing-select" })%></span> <%#= " %>
  <%#= f.collection_select(:thing_id, Thing.all, :id, :name, {}, {class:"select-box", id:"thing-select", data: {index:0} }) %>

  <span class="box-spoon" id='spoon-auto' data-spoon='0'>単位</span>
  <%= f.text_field :amount, placeholder:"(例)1.5", class:"amount-box" %>
  <span class="box-unit" id='unit-auto' data-unit='0'>単位</span>
  <%= link_to_remove_association "材料を削除", f %>
</div>