<div class="nested-fields">

  <%#= f.label "材料" %>
  <%#= f.label "食材" %>
  <%= f.collection_select(:thing_id, Thing.all, :id, :name, {}, {class:"select-box", id:"thing-select"}) %>
  <%#= f.label "分量" %>
  <%= f.text_field :amount, placeholder:"(例)1.5" %>
  <%#= f.label "孫3" %>
  <%#= f.collection_select(:active_id, Active.all, :id, :unit, {}, {class:"select-box", id:"unit-auto"}) %>
  <span id='unit-auto' class="box">単位</span>
  
  
  <%= link_to_remove_association "材料を削除", f %>

</div>